body{
	background-color: #fdfdfd; 
	margin: auto;
	font-size: 2rem;
	height: 100%;
	width: 100%;
	font-family: Calibri, sans-serif;
}

button {
    font-size: 1rem; 
}


#hidden{
	display: none;
	position: fixed;
	z-index: 3;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.5);
}

#resume{
	display: none;
	height: 100%;
	width: 60%;
	-webkit-animation: animatezoom 0.2s;
	animation: animatezoom 0.2s;
	margin: auto;
}

#email-container{
	display: none;
	background-color: #fdfdfd;
	border-radius: 1rem;
	padding: 2rem;
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	-webkit-animation: animatezoom 0.2s;
	animation: animatezoom 0.2s;
}

.email-inputs{
	font-size: 1.5rem;
	font-family: Calibri, sans-serif;
	margin: .5rem;
	border-radius: .25rem;
	border: 2px solid #5bc2ea;
}

#email-send{
	background-image: url("../img/email_send.png");
	height: 105px;
	width: 200px;
	margin: 1rem auto;
}

.coming-soon{
	max-height: 90%;
	max-width: 90%;
}

#title{
	display: flex;
	justify-content: center;
	background: url("../img/circtitle.png") no-repeat center center / 100% 100%;
	width: 100%;
	text-align: center;
	z-index: 2;
	color: white;
}

#title-text{
	margin: 1rem 0;
}

#myName{
	font-size: 3rem;
}

#nav{
	display: flex;
    justify-content: center;
	background: url("../img/circnav.png") no-repeat center center / 100% 100%;
	width: 100%;
	position: relative;
	top: 0;
	text-align: center;
	font-size: 0;
	z-index: 2;
	overflow: auto;
}

#navgradient{
	display: none;
	position: fixed;
	background-image: linear-gradient(to bottom, rgba(253, 253, 253, 1), rgba(253, 253, 253, 1), rgba(253, 253, 253, 0));
	top: 0;
	width: 100%;
	min-height: 8rem;
	z-index: 1;
}

.navBtn{
	display: inline-block;
	padding: 4px 10px 4px 10px;
	border-radius: 10px 10px 0px 0px;
	margin-left: 2px;
	margin-right: 2px;
	background-color: #aaaaaa;
	font-size: 2rem;
}

.navBtnFocus{
	display: inline-block;
	padding: 4px 10px 4px 10px;
	border-radius: 10px 10px 0px 0px;
	margin-left: 2px;
	margin-right: 2px;
	background-color: white;
	font-size: 2rem;
}

#center{
	margin: 0 20% 0 20%;
	height: 100%;
	text-align: center;
}

.content{
	height: 100%;
	width: 100%;
}

.savebox{
	margin-left: 2%;
	display: flex;
}

.user-logout{
	height: 20px;
}

#about-content{
	display: inline-block;
	padding-bottom: 100px;
	text-align: justify;
	margin: 2rem 0;
}

#about-text{
	margin: 0 5% 0 5%;
}

#about-contact{
	display: grid;
	grid-template-columns: 1fr 5% 1fr;
	width: 100%;
	margin: auto;
}

#about-contact-face-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
  

#about-contact-face{
	max-height: 70%;
	max-width: 70%;
}

#about-contact-vrt-line{
	height: 100%;
	width: 3px;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
	margin: auto;
}

#about-contact-links{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.about-contact-link{
	height: 15%;
}

.about-contact-link-img{
	height: 100%;
}

#projects-content{
	display: none;
	margin: 2rem 5%;
}

.projects-titles{
	font-size: 3rem;
	font-weight: 900;
	font-style: italic;
	text-align: left;
	width: 100%;
}

.projects-sections-content{
	display: grid;
	grid-template-columns: 6rem auto;
	grid-gap: 1rem;
}

.projects-links-img{
	border-radius: .5rem;
	width: 100%;
	margin-top: 5px;
}

.projects-desc{
	font-size: 1.5rem;
	text-align: left;
}

.projects-hrz-line{
	width: 100%;
	height: 0.25rem;
	margin: 1rem 0;
	background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

#games-content{
	display: none;
	background: url("../img/gamesbg.png") repeat-y center top;
	background-size: 100%;
	width: 100%;
	color: black;
	margin-top: 2rem;
}

.games-box{
	background-color: rgba(255,255,255, 0.5);
	border: 3px solid white;
	padding: 1rem;
	box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(1px);
	margin: 1rem 3rem;
}

#games-welcome{
	/* color: #00ff00; */
	/* background: url("../img/games-pc.png") no-repeat center center / 100% 100%; TODO: make wargames wopr ui*/ 
	/* font-family: 'Courier New', monospace; */
	width: 100%;
	height: 100%;
	margin-top: 1rem;
}

#games-login{
	display: none;
}

.games-login-elements{
	margin: 10px;
}

.games-login-inputs{
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.games-login-input-labels{
	font-size: 1rem;
}

#games-wrapper{
	display: none;
	width: 100%;
	height: 100%;
}

#games-user{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 3rem;
	font-weight: 600;
	padding: 0 1rem !important;
}

.games-user-icons{
	height: 2rem;
	width: auto;
}

#games-user-logout:hover{
	content: url("../img/login_red.png");
}

.games-panels{
	margin: auto;
	width: 80%;
}

#games-nav-chat{
	display: none;
}

#games-nav-buttons{
	display: block;
}

.games-nav-button{
	height: 50px;
	width: 50px;
	margin: 2px;
	border-radius: 5px;
	box-shadow: -2px 2px 5px rgba(0,0,0,0.5);
}

#games-nav-info{
	display: none;
}

#games-panel-chat{
	display: none;
}

#games-panel-chat-msgs{
	max-height: 1200px;
	overflow-y: scroll;
	border: 1px solid black;
}

#greyline{
	background-color: rgba(225,225,225,0.5);
	display: flex;
	justify-content: space-between;
}

#whiteline{
	background-color: rgba(255,255,255,0.5);
	font-family: 'Courier New', monospace;
	text-align: left;
}

#chattimestamp{
	padding-top: 5px;
	font-family: 'Courier New', monospace;
	font-size: 12px;
}

#chatname{
	padding-bottom: 2px;
}

.chatlines{
	display: block;
	font-size: 1rem;
}

#games-panel-game{
	display: block;/*TODO: has to be block for desktop view, mobile works with none*/
}

#games-panel-info{
	max-width: 400px;
	margin: auto;
	display: none;
}

#scores-table{
	width: 100%;
	margin: auto;
}

.games-panel-info-title{
	background-image: linear-gradient(to right, rgba(150,150,150,0.0), rgba(150,150,150,0.5), rgba(150,150,150,0.5), rgba(150,150,150,0.5), rgba(150,150,150,0.0));
	padding: 5px;
}

.games-panel-info-left{
	background-image: linear-gradient(to right, rgba(200,200,200,0.0), rgba(200,200,200,0.5), rgba(200,200,200,0.5), rgba(200,200,200,0.5));
	font-family: 'Courier New', monospace;
	font-size: 1rem;
	width: 50%;
	text-align: right;
	padding: 5px 15px 5px 5px;
}

.games-panel-info-right{
	background-image: linear-gradient(to right, rgba(200,200,200,0.5), rgba(200,200,200,0.5), rgba(200,200,200,0.5), rgba(200,200,200,0.0));
	font-family: 'Courier New', monospace;
	font-size: 1rem;
	width: 50%;
	text-align: left;
	padding: 5px 5px 5px 20px;
}

#games-panel-nav{
	display: flex;
	justify-content: center;
	height: 50px;
}

#games-nav{
	display: flex;
	justify-content: space-between;
}

#games-nav-title{
	color: black;
	padding-top: 5px;
	font-size: 30px;
}

#games-panel-game-hangman{
	display: none;
}

#games-panel-game-hangman-word{
	font-size: 3rem;
	margin: auto;
}

.hangman-letters{
	display: inline-block;
	margin: 5px;
}

#games-panel-game-hangman-pic{
	margin: auto;
	width: 300px;
	height: 300px;
}

#hangman-pic{
	width: 100%;
	height: 100%;
}

#hangman-missed{
	display: inline-block;
	margin: 10px;
}

#games-panel-game-ttt{
	display: none;
}

#ttt-canvas{
	background: url("../img/ttt_bg.png") no-repeat center top;
	background-size: 100% 100%;
	margin: auto;
}

#games-panel-game-bird{
	display: none;
}

#games-panel-game-hat{
	display: none;
}

.games-nav-arrows{
	font-size: 3rem;
	color: white;
	-webkit-text-stroke: 1px black;
	text-shadow: 3px 3px 3px #555555;
	margin-top: 5px;
}

.navBtn:hover{
	color: white;
}

.games-nav-arrows:hover{
	color: #80ffff;
	cursor: pointer;
}

.games-nav-button:hover{
	outline: 2px solid black;
	cursor: pointer;
}

.pointer:hover{
	cursor: pointer;
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}
	
@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}

/* #myalert{
	z-index: 2;
	position: fixed;
	bottom: 0px;
	right: 0px;
} */